[Desktop Entry]
Categories=Finance;
Comment[da_DK]=Ledger Live - Desktop
Comment=Ledger Live - Desktop
Exec=ledgerlive --enable-features=WaylandWindowDecorations --ozone-platform=wayland %U
GenericName[da_DK]=
GenericName=
Icon=ledger-live-desktop
MimeType=
Name[da_DK]=Ledger Live
Name=Ledger Live
Path=
StartupNotify=true
StartupWMClass=Ledger Live
Terminal=false
TerminalOptions=
Type=Application
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
